<center>
  <%= form_for @story do |f| %>
    <% if @story.errors.any? %>
      <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class = "statement">
      <div class = "share">
        <%= f.label :body, "Share your story" %><br>
        <%= f.text_area :body, placeholder: "Your story" %>
      </div>

      <div class="inputz">
        <%= f.label :age %>
        <%= f.number_field :age %>
      </div>

      <div class="inputz">
        <%= f.label :gender %>
        <%= f.select :gender, Story::GENDERS.map { |g| [g.capitalize, g] } %>
      </div>

      <div>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</center>
