<center>

<% if @story %>
  <div class="statement"><%= @story.body %></div>

  <%= form_for [@story, @vote] do |f| %>
    <% Story::GENDERS.each do |gender| %>
      <%= f.button gender.capitalize, :name => "vote[gender]", :value => gender, :class => 'vote-button' %>
    <% end %>
  <% end %>

  <%= link_to "See another story", root_path %>
<% else %>
  <p>No stories yet :(</p>
<% end %>

<%= link_to "Create your own story", new_story_path %>

</center>
