<center>
<div class="statement"><%= @story.body %></div>

<%= form_for [@story, @vote] do |f| %>
  <%= f.select :gender, Story::GENDERS %>
  <%= f.submit %>
<% end %>

<%= link_to "See another story", root_path %>
<%= link_to "Create your own story", new_story_path %>

</center>
