<center>

<% if @story %>
	<div class="statement">
		<font class="quotez">“</font>
		<%= @story.body %>
		<font class="quotez">”</font>
	</div>

  <%= form_for [@story, @vote] do |f| %>
    <% Story::GENDERS.each do |gender| %>
      <%= f.button gender.capitalize, :name => "vote[gender]", :value => gender, :class => 'vote-button' %>
    <% end %>
  <% end %>
<BR><BR>
  <div>
  <%= link_to root_path do %>
  <%= image_tag "btn-next-normal@2x~iphone.png" %>
    <% end %>
</div>
<% else %>
  <p>No stories yet :(</p>
<% end %>

</center>
