<center>
  <div class="statement">
    <font class="quotez">”</font>
    <%= @story.body %>
    <font class="quotez">”</font>
  </div>


<div class="person">
  This story was submitted by a <%= @story.age %> year old
  <% if @story.gender == 'neutral' %>
    gender-neutral person
  <% else %>
    <%= @story.gender %>
  <% end %>
</div>


<% if @story.votes.any? %>
  <canvas id="chart" width="200" height="200"></canvas>

  <script>
    (function(){
      "use strict";

      var tally  = <%= raw JSON.dump(@story.vote_counts) %>;
      var colors = <%= raw JSON.dump(chart_colors) %>;
      var ctx    = document.getElementById('chart').getContext('2d');

      var data = [
        {value: tally['male'],    color: colors['male']},
        {value: tally['female'],  color: colors['female']},
        {value: tally['neutral'], color: colors['neutral']}
      ];

      var chart = new Chart(ctx).Pie(data, {});
    })();
  </script>

  <table id="chart-legend">
    <% @story.vote_counts.each do |gender, count| %>
      <tr>
        <td style="background-color: <%= chart_colors[gender] %>">&nbsp;</td>
        <td><%= gender.capitalize %></td>
        <td><%= count %>
      </td>
    <% end %>
  </table>
<% else %>
  <p>No votes yet :(</p>
<% end %>

<div>
  <%= link_to root_path do %>
  <%= image_tag "btn-next-normal@2x~iphone.png" %>
    <% end %>
</div>

</center>
