<!DOCTYPE html>
<html>
<head>
  <title>Guess Qui?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
		<style type="text/css">
			a:link {color: #406c40; text-decoration:none;}
			a:visited {color: #406c40; text-decoration:none;}
			a:hover {color: #87E687;}
			a:active {color: #406c40; text-decoration:none;}

			body{
				background-size: cover;
				background-repeat: no-repeat;
				background-color: #221f1f;
			}

			.logo{
				margin-top: 10px;
 				margin-left: 25px;
 				color: #406c40;
			}

			.statement{
				font-family: 'Lobster', cursive;
				padding-top: 10%;
				font-size: 36px;
				width: 300px;
				text-align:left;
				padding-bottom:10px;
				color: #ff7373;
				letter-spacing: 3px;
        line-height: 40px;
        margin-bottom: 40px;
			}

			.contribute{
				float: right;
    			display: inline-block;
   				margin-right: 25px;
 				margin-left: 25px;
 				padding-top:3%;
 				background-image: 'logo_guesswho.png';

			}

			.person{
				font-family: 'Josefin Sans', sans-serif;
				font-size: 16px;
				letter-spacing: 3px;
				width: 300px;
				text-align: right;
				padding-bottom: 15px;
				color: #87E687;
			}

			.gender{

			}

			.quotez{
				font-family: 'Lobster', cursive;
				color: #ffffff;
				font-size:36px;
				line-height:40px;
			}

			.back{
				font-size: 4.1em;
 				font-family: arial;
 				font-weight: bold;
 				color: #406c40;
			}

			.story{
				width: 300px;
				height: 50px;
			}

			.share{
				font-family: 'Lobster', cursive;
				font-size: 30px;
				padding-bottom: 3px;
			}

			.inputz{
				font-size: 22px;
			}

			.selectz{
				height: 300px;
				position: relative;
			}

			.vote-button{
        background: none;
        border: 0;
        padding: 0;
        cursor: pointer;
      }

      		#chart-legend {
        		color: #87E687;
        		font-family: 'Josefin Sans', sans-serif;
       			font-size: 16px;
     		 }

      		.cf:before,
      		.cf:after {
          		content: " ";
          		display: table;
      		}
      		.cf:after { clear: both; }
          .cf { *zoom: 1; }
		</style>
	</head>
<body>
  <div class='header'>
    <%= link_to root_path, :class => 'logo' do %>
      <%= image_tag("logo-guess-qui-normal@2x~iphone.png")%>
    <% end %>

    <%= link_to new_story_path, :class => 'contribute' do %>

    <%= image_tag ("btn-create-normal@2x~iphone.png") %>
  <% end %>

    <div class='cf'></div>
  </div>

  <%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51498709-1', 'guessqui.com');
  ga('send', 'pageview');

</script>
</body>
</html>
